* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fac903b8;
  font-weight: bold;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
