* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fac903b8;
  font-family: sans-serif;
  font-weight: bold;
  font-size: calc(32px + 16 * ((100vw - 320px) / (1280 - 320)));
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
